
@{
    ViewData["Title"] = "Result";
}

@model List<People>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert @ViewBag.Type" role="alert" id="divAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> @ViewBag.Message
    </div>
}
<h3 style="margin-top: 25px;">People found</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Birthday</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Birthday.ToShortDateString()</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/People/Edit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/People/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>